# Bankruptcy Analysis

The dataset is anonymized financial statement measures for various companies, as well as an indicator of the bankruptcy status for each company one year later.

### Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sqlalchemy import create_engine
import psycopg2 as pg
import pandas.io.sql as pd_sql

np.set_printoptions(suppress=True) # Suppress scientific notation

In [2]:
data_location = 'data/'
data_file = '5year.arff'
column_names_file = 'column_names.csv'

data_files_skip = 69

In [3]:
pd.set_option('max_columns', 68)

In [4]:
# read in column names, add one for the target variable
cols = pd.read_csv(data_location+column_names_file, header=None, sep='\t')
cols = cols.append([['IsBankrupt','IsBankrupt']])

In [5]:
# read in data file
data = pd.read_csv(data_location+data_file, skiprows=data_files_skip, header=None)
data.columns = cols.iloc[:,0]
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31,X32,X33,X34,X35,X36,X37,X38,X39,X40,X41,X42,X43,X44,X45,X46,X47,X48,X49,X50,X51,X52,X53,X54,X55,X56,X57,X58,X59,X60,X61,X62,X63,X64,IsBankrupt
0,0.088238,0.55472,0.01134,1.0205,-66.52,0.34204,0.10949,0.57752,1.0881,0.32036,0.10949,0.1976,0.096885,0.10949,1475.2,0.24742,1.8027,0.10949,0.077287,50.199,1.1574,0.13523,0.062287,0.41949,0.32036,0.20912,1.0387,0.026093,6.1267,0.377880,0.077287,155.33,2.3498,0.24377,0.13523,1.4493,571.37,0.32101,0.095457,0.12879,0.11189,0.095457,127.30,77.096,0.45289,0.66883,54.621,0.10746,0.075859,1.0193,0.55407,0.42557,0.73717,0.73866,15182.0000,0.080955,0.27543,0.91905,0.002024,7.2711,4.7343,142.760,2.5568,3.2597,0
1,-0.006202,0.48465,0.23298,1.5998,6.1825,0,-0.006202,1.0634,1.2757,0.51535,0.001329,-0.015967,0.037544,-0.006202,3693.4,0.098825,2.0634,-0.006202,-0.004862,59.923,1.0158,0.001289,-0.004862,?,0.080285,0.098825,0.17118,0.61545,4.0022,0.363810,0.000778,108.05,3.3779,2.7075,-0.036475,1.2757,5.2519,0.5938,-0.028591,0.05781,0.29167,0.001011,171.38,111.450,-0.029614,1.0606,58.258,-0.052809,-0.041395,1.2823,0.38846,0.29604,1.3614,1.5686,2341.8000,-0.028591,-0.012035,1.00470,0.15222,6.0911,3.2749,111.140,3.2841,3.37,0
2,0.13024,0.22142,0.57751,3.6082,120.04,0.18764,0.16212,3.059,1.1415,0.67731,0.16212,0.73218,0.165680,0.16212,431.75,0.84539,4.5164,0.16212,0.143490,41.508,1.2362,0.14586,0.115280,0.23566,0.67731,0.70143,1.4737,2.8721,4.7622,0.050069,0.143490,81.653,4.4701,0.65878,0.14586,1.1698,?,0.67731,0.129100,1.3196,0.042587,0.129100,163.71,122.200,1.0137,3.028,47.382,0.1208,0.106920,3.6082,0.22142,0.22371,3.3684,3.3684,33401.0000,0.123960,0.19229,0.87604,0,8.7934,2.987,71.531,5.1027,5.6188,0
3,-0.089951,0.887,0.26927,1.5222,-55.992,-0.073957,-0.089951,0.1274,1.2754,0.113,-0.080792,-0.17445,0.084038,-0.089951,3020.5,0.12084,1.1274,-0.089951,-0.070525,47.698,1.0942,0,-0.070525,?,0.064737,0.12084,0,1.2519,4.0153,0.657790,-0.138650,253.91,1.4375,0.83567,0.014027,1.2754,1.9005,0.4383,0.010998,0.45622,0.14998,0.000000,157.30,109.600,-0.53969,1.199,82.073,-0.19714,-0.154560,0.88491,0.51564,0.69565,0.52538,2.0378,2789.6000,0.418840,-0.79602,0.59074,2.8787,7.6524,3.3302,147.560,2.4735,5.9299,0
4,0.048179,0.55041,0.10765,1.2437,-22.959,0,0.05928,0.81682,1.515,0.44959,0.09199,0.13419,0.055575,0.05928,2386.1,0.15297,1.8168,0.05928,0.039129,36.074,0.99455,0.067616,0.031802,0,0.4292,0.1328,2.0671,0.23891,5.8823,0.363310,0.039129,140.12,2.6583,2.1336,0.3642,1.515,6.3783,0.51225,0.240400,0.067283,0.19828,0.044632,125.21,89.134,0.32177,0.90475,46.538,0.042701,0.028186,0.99819,0.44176,0.37618,0.99779,1.1369,1.2437,0.240400,0.10716,0.77048,0.13938,10.118,4.095,106.430,3.4294,3.3622,0

In [ ]:
# persist data to sql
# this is mainly to demonstrate the use of sql
engine = create_engine('postgresql://busola:lala@localhost:5432/bankruptcy')
data.to_sql('FinancialMeasure', engine, if_exists='append')

connection_args = {
    'host': 'localhost',
    'dbname': 'bankruptcy',
    'port': 5432
}
connection = pg.connect(**connection_args)

query = "SELECT * FROM FinancialMeasure;"

df_test = pd_sql.read_sql(query, connection)

In [6]:
# check distribution of target variable for balance/imbalance
data.IsBankrupt.value_counts(normalize=True)

0    0.930626
1    0.069374
Name: IsBankrupt, dtype: float64

In [7]:
# replace missing data (?) with nulls
data.info()
data[data.isin(['?']).any(axis=1)]
data.replace(to_replace='?', value=np.nan, inplace=True)
data[data.isin(['?']).any(axis=1)]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5910 entries, 0 to 5909
Data columns (total 65 columns):
X1            5910 non-null object
X2            5910 non-null object
X3            5910 non-null object
X4            5910 non-null object
X5            5910 non-null object
X6            5910 non-null object
X7            5910 non-null object
X8            5910 non-null object
X9            5910 non-null object
X10           5910 non-null object
X11           5910 non-null object
X12           5910 non-null object
X13           5910 non-null float64
X14           5910 non-null object
X15           5910 non-null object
X16           5910 non-null object
X17           5910 non-null object
X18           5910 non-null object
X19           5910 non-null float64
X20           5910 non-null float64
X21           5910 non-null object
X22           5910 non-null object
X23           5910 non-null float64
X24           5910 non-null object
X25           5910 non-null object
X26           5910 non-null object
X27           5910 non-null object
X28           5910 non-null object
X29           5910 non-null object
X30           5910 non-null float64
X31           5910 non-null float64
X32           5910 non-null object
X33           5910 non-null object
X34           5910 non-null object
X35           5910 non-null object
X36           5910 non-null object
X37           5910 non-null object
X38           5910 non-null object
X39           5910 non-null float64
X40           5910 non-null object
X41           5910 non-null object
X42           5910 non-null float64
X43           5910 non-null float64
X44           5910 non-null float64
X45           5910 non-null object
X46           5910 non-null object
X47           5910 non-null object
X48           5910 non-null object
X49           5910 non-null float64
X50           5910 non-null object
X51           5910 non-null object
X52           5910 non-null object
X53           5910 non-null object
X54           5910 non-null object
X55           5910 non-null float64
X56           5910 non-null float64
X57           5910 non-null object
X58           5910 non-null float64
X59           5910 non-null object
X60           5910 non-null object
X61           5910 non-null object
X62           5910 non-null float64
X63           5910 non-null object
X64           5910 non-null object
IsBankrupt    5910 non-null int64
dtypes: float64(15), int64(1), object(49)
memory usage: 2.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5910 entries, 0 to 5909
Data columns (total 65 columns):
X1            5907 non-null object
X2            5907 non-null object
X3            5907 non-null object
X4            5889 non-null object
X5            5899 non-null object
X6            5907 non-null object
X7            5907 non-null object
X8            5892 non-null object
X9            5909 non-null object
X10           5907 non-null object
X11           5907 non-null object
X12           5889 non-null object
X13           5910 non-null float64
X14           5907 non-null object
X15           5904 non-null object
X16           5892 non-null object
X17           5892 non-null object
X18           5907 non-null object
X19           5910 non-null float64
X20           5910 non-null float64
X21           5807 non-null object
X22           5907 non-null object
X23           5910 non-null float64
X24           5775 non-null object
X25           5907 non-null object
X26           5892 non-null object
X27           5519 non-null object
X28           5803 non-null object
X29           5907 non-null object
X30           5910 non-null float64
X31           5910 non-null float64
X32           5864 non-null object
X33           5889 non-null object
X34           5892 non-null object
X35           5907 non-null object
X36           5907 non-null object
X37           3362 non-null object
X38           5907 non-null object
X39           5910 non-null float64
X40           5889 non-null object
X41           5826 non-null object
X42           5910 non-null float64
X43           5910 non-null float64
X44           5910 non-null float64
X45           5642 non-null object
X46           5889 non-null object
X47           5875 non-null object
X48           5907 non-null object
X49           5910 non-null float64
X50           5892 non-null object
X51           5907 non-null object
X52           5874 non-null object
X53           5803 non-null object
X54           5803 non-null object
X55           5910 non-null float64
X56           5910 non-null float64
X57           5907 non-null object
X58           5910 non-null float64
X59           5907 non-null object
X60           5642 non-null object
X61           5895 non-null object
X62           5910 non-null float64
X63           5889 non-null object
X64           5803 non-null object
IsBankrupt    5910 non-null int64
dtypes: float64(15), int64(1), object(49)
memory usage: 2.9+ MB

X37 appears to have many missing values compared to the other observations in the file

In [8]:
object_cols = data.select_dtypes(include='object').columns
data[object_cols] = data[object_cols].astype('float')

In [9]:
# split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(data.drop(['IsBankrupt'],axis=1), data['IsBankrupt'], test_size=0.2, random_state=45)

In [10]:
# impute missing features using the Iterative Imputer. Fit on training set
imputer = IterativeImputer(random_state=20,max_iter=6000)
temp_cols = list(X_train.columns)
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

/home/ubuntu/anaconda3/lib/python3.7/site-packages/sklearn/impute/_iterative.py:599: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [11]:
# add back column names
X_train = pd.DataFrame(X_train,columns=temp_cols)
X_test = pd.DataFrame(X_test,columns=temp_cols)
y_train = pd.DataFrame(y_train,columns=['IsBankrupt'])
y_test = pd.DataFrame(y_test,columns=['IsBankrupt'])

In [12]:
# pickle the data sets
X_train.to_pickle('pickle/xtrain.pkl')
X_test.to_pickle('pickle/xtest.pkl')
y_train.to_pickle('pickle/ytrain.pkl')
y_test.to_pickle('pickle/ytest.pkl')

In [16]:
# prepare another set of datasets, this time scaled
scaler = StandardScaler()
scaler.fit(X_train.append(X_test))
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train,columns=temp_cols)
X_test_scaled = pd.DataFrame(X_test,columns=temp_cols)

In [17]:
# pickle the scaled data sets
X_train_scaled.to_pickle('pickle/xtrain_scaled.pkl')
X_test_scaled.to_pickle('pickle/xtest_scaled.pkl')